<footer class="sticky top-full z-20 overflow-clip bg-black">
  <div class="bg-black px-10 py-5">
    <p class="text-center text-sm text-white">
      Copyright © astro-microcms-template. All rights reserved.
    </p>
  </div>
</footer>
