@import 'tailwindcss';

/* base */
@import './base/base.css' layer(base);
@import './base/alpine.css' layer(base);
@import './base/lenis.css' layer(base);

/* components */
@import './components/prose.css' layer(components);
@import './components/wrapper.css' layer(components);
@import './components/effect.css' layer(components);
@import './components/font.css' layer(components);
@import './components/formrun.css' layer(components);

/* utilities */
@import './utilities/kerning.css';
@import './utilities/transition.css';
@import './utilities/clip.css';
@import './utilities/aspect.css';

@import './variables.css';
@import './variant.css';
