@theme {
  /* font-famiry */
  --font-sans: 'Noto Sans JP Variable', sans-serif;
  --font-neue: 'PP Neue Montreal', sans-serif;

  /* colors */
  --color-dark-bk: #333333;
  --color-orange: #e7561b;
  --color-cream: #efe6cd;
  --color-white: #ffffff;
  --color-green-gray: #acb2ab;
  --color-light-green: #009b4a;
  --color-dark-green: #0f3c3c;
  --color-light-cream: #e6e6d1;
  --color-green: #023c1b;
  --color-gray: #707070;
  --color-gray-2: #c4c4c4;
  --color-light-gray: #fafafa;
  --color-dark-gray: #565656;
  --color-dark-gray-02: #555555;
  --color-dark: #070707;
  --color-brown: #a27f4f;

  /* font-size (rem) */
  --text-10: calc(10 / 16 * 1rem);
  --text-11: calc(11 / 16 * 1rem);
  --text-12: calc(12 / 16 * 1rem);
  --text-13: calc(13 / 16 * 1rem);
  --text-14: calc(14 / 16 * 1rem);
  --text-15: calc(15 / 16 * 1rem);
  --text-16: calc(16 / 16 * 1rem);
  --text-18: calc(18 / 16 * 1rem);
  --text-20: calc(20 / 16 * 1rem);
  --text-22: calc(22 / 16 * 1rem);
  --text-23: calc(23 / 16 * 1rem);
  --text-24: calc(24 / 16 * 1rem);
  --text-25: calc(25 / 16 * 1rem);
  --text-26: calc(26 / 16 * 1rem);
  --text-28: calc(28 / 16 * 1rem);
  --text-30: calc(30 / 16 * 1rem);
  --text-32: calc(32 / 16 * 1rem);
  --text-34: calc(34 / 16 * 1rem);
  --text-36: calc(36 / 16 * 1rem);
  --text-38: calc(38 / 16 * 1rem);
  --text-40: calc(40 / 16 * 1rem);
  --text-45: calc(45 / 16 * 1rem);
  --text-50: calc(50 / 16 * 1rem);
  --text-55: calc(55 / 16 * 1rem);
  --text-56: calc(56 / 16 * 1rem);
  --text-60: calc(60 / 16 * 1rem);
  --text-64: calc(64 / 16 * 1rem);
  --text-65: calc(65 / 16 * 1rem);
  --text-70: calc(70 / 16 * 1rem);
  --text-72: calc(72 / 16 * 1rem);
  --text-75: calc(75 / 16 * 1rem);
  --text-104: calc(104 / 16 * 1rem);
  --text-120: calc(120 / 16 * 1rem);

  /* line-height */
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;
  --leading-165: 165%;
  --leading-170: 170%;
  --leading-180: 180%;
  --leading-190: 190%;
  --leading-200: 200%;
  --leading-210: 210%;
  --leading-220: 220%;
  --leading-230: 230%;

  /* letter-spacing */
  --tracking-01: 0.01em;
  --tracking-02: 0.02em;
  --tracking-03: 0.03em;
  --tracking-04: 0.04em;
  --tracking-05: 0.05em;
  --tracking-06: 0.06em;
  --tracking-07: 0.07em;
  --tracking-08: 0.08em;
  --tracking-09: 0.09em;
  --tracking-10: 0.1em;
  --tracking-15: 0.15em;
  --tracking-20: 0.2em;
  --tracking-30: 0.3em;

  --breakpoint-ip: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --transition-property-clip-path: clip-path;

  --ease-sine-in: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-sine-out: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-sine-in-out: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-quad-in: cubic-bezier(0.11, 0, 0.5, 0);
  --ease-quad-out: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-quad-in-out: cubic-bezier(0.45, 0, 0.55, 1);
  --ease-cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-cubic-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-quart-in: cubic-bezier(0.5, 0, 0.75, 0);
  --ease-quart-out: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-quart-in-out: cubic-bezier(0.76, 0, 0.24, 1);
  --ease-quint-in: cubic-bezier(0.64, 0, 0.78, 0);
  --ease-quint-out: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-quint-in-out: cubic-bezier(0.83, 0, 0.17, 1);
  --ease-expo-in: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-expo-out: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-expo-in-out: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-circ-in: cubic-bezier(0.55, 0, 1, 0.45);
  --ease-circ-out: cubic-bezier(0.05, 0.6, 0.25, 1);
  --ease-circ-in-out: cubic-bezier(0.85, 0, 0.15, 1);
  --ease-back-in: cubic-bezier(0.36, 0, 0.66, -0.56);
  --ease-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-back-in-out: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-custom-out: cubic-bezier(0, 0.8, 0.17, 1);
}
