---
import { useI18n } from '@libs/i18n';
import { messages } from './ContactForm.ts';
const formApiUrl = import.meta.env.FORM_RUN_API_URL;

// 確認画面の有無の設定
const { isConfirm = false } = Astro.props;

const { t } = useI18n(Astro, messages);
---

<!-- class, action, methodを変更しないでください -->
<div class:list={formApiUrl ? 'bg-[#DBE6E6] p-10' : 'hidden'}>
  <form class="formrun" action={formApiUrl} method="post" data-formrun-confirm={isConfirm}>
    <!-- ↓自由に要素を追加・編集することができます -->
    <div data-formrun-show-if-confirm>
      <p class="text-center text-lg font-bold" set:html={t('confirm.title')} />
    </div>

    <!-- 入力画面の項目 -->
    <div class="grid grid-cols-[auto_1fr] gap-10" data-formrun-hide-if-confirm>
      <!-- お名前 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <label for="name">
          {t('name.label')}
          <span class="required" set:html={t('required')} />
        </label>
        <div class="flex flex-col gap-2">
          <input
            class="bg-white p-5"
            id="name"
            name={t('name.label')}
            type="text"
            autocomplete="name"
            placeholder={t('name.placeholder')}
            data-formrun-required
          />
          <div data-formrun-show-if-error={t('name.label')}>{t('name.error')}</div>
        </div>
      </div>

      <!-- メールアドレス -->
      <div class="col-span-full grid grid-cols-subgrid">
        <label for="email">
          {t('email.label')}
          <span class="required" set:html={t('required')} />
        </label>
        <div class="flex flex-col gap-2">
          <input
            class="bg-white p-5"
            id="email"
            name={t('email.label')}
            type="text"
            data-formrun-type="email"
            data-formrun-required
            placeholder={t('email.placeholder')}
          />
          <div data-formrun-show-if-error={t('email.label')}>{t('email.error')}</div>
        </div>
      </div>

      <!-- 業界 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <label for="industry">
          {t('industry.label')}
        </label>
        <input
          class="bg-white p-5"
          id="industry"
          name={t('industry.label')}
          type="text"
          autocomplete="off"
          placeholder={t('industry.placeholder')}
        />
      </div>

      <!-- お問い合わせ内容 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <label for="message">
          {t('message.label')}
        </label>
        <textarea
          rows="4"
          class="bg-white p-5"
          id="message"
          name={t('message.label')}
          placeholder={t('message.placeholder')}></textarea>
      </div>

      <!-- 個人情報利用同意 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <div></div>
        <div>
          <input id="privacy" type="checkbox" name="privacy" data-formrun-required />
          <label for="privacy" aria-label={t('privacy.label')} set:html={t('privacy.agreement')} />
          <div data-formrun-show-if-error="privacy">
            {t('privacy.error')}
          </div>
        </div>
      </div>
    </div>

    <!-- 確認画面の項目 -->
    <div class="mt-10 grid grid-cols-[auto_1fr] gap-10" data-formrun-show-if-confirm>
      <!-- お名前 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <p>{t('name.label')}</p>
        <p data-formrun-confirm-value={t('name.label')}></p>
      </div>
      <!-- メールアドレス -->
      <div class="col-span-full grid grid-cols-subgrid">
        <p>{t('email.label')}</p>
        <p data-formrun-confirm-value={t('email.label')}></p>
      </div>
      <!-- 業界 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <p>{t('industry.label')}</p>
        <p data-formrun-confirm-value={t('industry.label')}></p>
      </div>
      <!-- お問い合わせ内容 -->
      <div class="col-span-full grid grid-cols-subgrid">
        <p>{t('message.label')}</p>
        <p data-formrun-confirm-value={t('message.label')}></p>
      </div>
    </div>

    <!-- "ボット投稿をブロックするためのタグ" -->
    <div class="_formrun_gotcha">
      <style media="screen">
        ._formrun_gotcha {
          position: absolute !important;
          width: 1px;
          height: 1px;
          overflow: hidden;
        }
      </style>
      <label for="_formrun_gotcha">If you are a human, ignore this field</label>
      <input type="text" name="_formrun_gotcha" id="_formrun_gotcha" tabindex="-1" />
    </div>

    <div class="mt-20 flex flex-col gap-5">
      <!-- 確認画面から入力画面に戻るボタン -->
      <button class="block w-full bg-black p-5 text-white" type="button" data-formrun-back-button>
        {t('confirm.back')}
      </button>
      <!-- 送信ボタン -->
      <button
        class="block w-full bg-black p-5 text-white"
        type="submit"
        data-formrun-error-text={t('error.required')}
        data-formrun-send-text={t('confirm.send')}
        data-formrun-submitting-text={t('confirm.submitting')}
        set:html={isConfirm ? t('confirm.confirm') : t('confirm.send')}
      />
    </div>
  </form>
</div>

<!-- API用の環境変数が設定されていない場合 -->
{!formApiUrl && <p class="text-center text-lg font-bold" set:html={t('error.api')} />}
