---
import config from '@config';
---

<div class="relative h-[500px] w-full overflow-hidden">
  <img src="https://picsum.photos/1440/" alt="" class="size-full object-cover" />
  <div class="absolute inset-0 m-auto size-fit text-center">
    <p class="text-5xl font-bold text-white text-shadow-2xs">{config.siteTitle}</p>
  </div>
</div>
