:root {
  --100vw: 100lvw;
  --100vh: 100lvh;
  --window-width: calc(tan(atan2(var(--100vw), 1px)));
  --window-height: calc(tan(atan2(var(--100vh), 1px)));
  --rem: calc(1rem * var(--window-width) / 375);
  --header-height: calc(56 / 16 * 1rem);
}

@variant md {
  :root {
    --rem: calc(1rem * var(--window-width) / 1024);
  }
}

@variant lg {
  :root {
    --rem: calc(1rem * var(--window-width) / 1440);
  }
}

@property --100vw {
  syntax: '<length>';
  initial-value: 0px;
  inherits: false;
}
@property --100vh {
  syntax: '<length>';
  initial-value: 0px;
  inherits: false;
}

:root {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}

html {
  font-size: calc(1 * var(--rem));
  line-break: normal;
  text-underline-offset: 0.125em;
  overflow-wrap: break-word;
}

/* https://schepp.dev/posts/smooth-scrolling-and-page-search/ */
/* html:focus-within {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
} */

body {
  padding-top: var(--header-height);
  color: black;
  font-weight: 400;
  line-height: 1.4;
  font-family: theme(--font-sans);
  letter-spacing: 0em;
}

/* https://css-tricks.com/a-clever-sticky-footer-technique/ */
html,
body {
  height: auto;
  min-height: 100vh;
}

svg {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
}

select {
  appearance: none;
}

/* [id] {
  scroll-margin-top: calc(88 / 16 * 1rem);
} */
